@import 'tailwindcss';

@source '../../resources/**/*.blade.php';
@source '../../resources/**/*.js';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source '../../vendor/filament/**/*.blade.php';

@import '../../vendor/livewire/flux/dist/flux.css';
@import '../../vendor/filament/support/resources/css/index.css';
@import '../../vendor/filament/actions/resources/css/index.css';
@import '../../vendor/filament/forms/resources/css/index.css';
@import '../../vendor/filament/infolists/resources/css/index.css';
@import '../../vendor/filament/notifications/resources/css/index.css';
@import '../../vendor/filament/schemas/resources/css/index.css';
@import '../../vendor/filament/tables/resources/css/index.css';
@import '../../vendor/filament/widgets/resources/css/index.css';

@variant dark (&:where(.dark, .dark *));

:root {
    --gold: #c9a227;
    --gold-light: #e8d48b;
    --navy: #0c1015;
    --navy-light: #1a2332;
}
